<footer class="bg-gray-100 p-4">
  <ul class="flex justify-center gap-6 text-sm">
    <li><%= link_to "利用規約", "#" %></li>
    <li><%= link_to "プライバシー", "#" %></li>
    <li><%= link_to "お問い合わせ", "#"  %></li>
  </ul>
</footer>