<header>
  <nav class="bg-green-100">
    <ul class="p-6 flex gap-6">
      <li><%= link_to "ここフォト", root_path %></li>
      <li class="ml-auto"><%= link_to "投稿", "#" %></li>
      <li><%= link_to "投稿一覧", posts_path  %></li>
      <li class="pr-4"><%= link_to "地図", "#" %></li>
    </ul>
  </nav>
</header>