@import "tailwindcss";

@layer components {
  .form {
    @apply rounded-md border border-gray-500
           px-2 py-1 mb-2
           outline-none
           focus:ring-1
           focus:ring-blue-200
           focus:border-blue-500;
  }

  .btn {
    @apply inline-flex
           items-center
           gap-2
           rounded-md
           bg-blue-500
           px-3 py-2
           text-sm
           font-medium
           text-white
           hover:bg-blue-600
           focus-visible:outline-none
           focus-visible:ring-1
           focus-visible:ring-blue-500
  }

  .link {
    @apply text-blue-600
           hover:text-blue-800
           hover:underline
           text-sm
  }
}